.btn1 , .btn2 {
    cursor: pointer;
}

.btn1 {
  box-shadow: 0px 6px 32px -2px #dba83260;
  text-shadow: 0px 4px 3px black;
  background-color: rgba(0, 255, 13, 0.212);
  font-size: rem(18px);
  font-weight: bold;
  color: #fff;
  padding: 10px 15px;
  margin: 0 auto;
  margin-top: 35px;
  width: 170px;
  height: 70px;
  transition: 0.8s;
}

.btn1:hover {
  box-shadow: 0px 6px 32px -2px #dba8329b;
  background-color: rgba(0, 255, 13, 0.425);
}

.btn2 {
  box-shadow: 0px 6px 32px -2px #dba83260;
  text-shadow: 0px 4px 3px black;
  background-color: #ffcb5cb0;
  font-size: rem(14px);
  font-weight: bold;
  color: #fff;
  padding: 10px 15px;
  margin: 0 auto;
  margin-top: 15px;
  width: 130px;
  height: 45px;
  transition: 0.8s;
}

.btn2:hover {
  box-shadow: 0px 6px 32px -2px #dba8329b;
  background-color: #ffcb5ced;
}


